In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import PolynomialFeatures
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
data = pd.read_csv('Life Expectancy Data.csv')

In [3]:
data.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
list(data.columns)

['Country',
 'Year',
 'Status',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 'BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 'HIV/AIDS',
 'GDP',
 'Population',
 'thinness  1-19 years',
 'thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10  BMI                              2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15  HIV/AIDS                         2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18  thinness  1-19 years             2904 non-null   float64
 19  thinness 5-9 years               2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [6]:
data.shape

(2938, 22)

In [7]:
data.Country.value_counts()

Country
Afghanistan              16
Peru                     16
Nicaragua                16
Niger                    16
Nigeria                  16
                         ..
Niue                      1
San Marino                1
Nauru                     1
Saint Kitts and Nevis     1
Dominica                  1
Name: count, Length: 193, dtype: int64

In [8]:
data.Status.value_counts()

Status
Developing    2426
Developed      512
Name: count, dtype: int64

In [9]:
data.Status.value_counts(normalize=True)*100

Status
Developing    82.573179
Developed     17.426821
Name: proportion, dtype: float64

In [19]:
data.groupby('Country').agg( { "Life expectancy " :["mean"],
                             "Population" : ["mean"],
                              "Adult Mortality" : ["mean"],
                               "infant deaths" : ["mean"]}).sort_values(('Life expectancy ', 'mean'), ascending=False)

,Life expectancy,Population,Adult Mortality,infant deaths
,mean,mean,mean,mean
Country,,,,
Japan,82.53750,9.738406e+04,57.1250,2.8750
Sweden,82.51875,5.514868e+06,59.1875,0.0000
Iceland,82.44375,1.861776e+05,49.3750,0.0000
Switzerland,82.33125,5.913242e+06,55.7500,0.0000
France,82.21875,2.758173e+07,73.1250,2.9375
...,...,...,...,...
Niue,NaN,NaN,NaN,0.0000
Palau,NaN,2.920000e+02,NaN,0.0000
Saint Kitts and Nevis,NaN,NaN,NaN,0.0000
San Marino,NaN,NaN,NaN,0.0000
Tuvalu,NaN,1.819000e+03,NaN,0.0000

In [16]:
  data.groupby('Country').agg( { "Life expectancy " :["median"],
                             "Population" : ["median"]}).sort_values(('Life expectancy ', 'median'), ascending=False)

                      Life expectancy  Population
                                median     median
Country
Japan                            82.55   127360.5
Switzerland                      82.20  7460524.5
Iceland                          81.95   286245.5
Singapore                        81.85        NaN
Sweden                           81.80  8941593.5
...                                ...        ...
Niue                               NaN        NaN
Palau                              NaN      292.0
Saint Kitts and Nevis              NaN        NaN
San Marino                         NaN        NaN
Tuvalu                             NaN     1819.0

[193 rows x 2 columns]

In [12]:
data [['Country', 'Life expectancy ', 'Population']]. sort_values('Life expectancy ', ascending = False)[0:10]

       Country  Life expectancy   Population
2433     Spain              89.0   4522683.0
1916    Norway              89.0   4828726.0
938     France              89.0   6416229.0
915    Finland              89.0   5461512.0
2513    Sweden              89.0    914892.0
241    Belgium              89.0    112957.0
937     France              89.0   6437499.0
2056  Portugal              89.0     14162.0
1293     Italy              89.0  57685327.0
995    Germany              89.0     89825.0

In [13]:
data [['Country', 'Life expectancy ', 'Population']]. sort_values('Life expectancy ', ascending = True)[0:10]

           Country  Life expectancy   Population
1127         Haiti              36.3   9999617.0
2312  Sierra Leone              39.0   4564297.0
2311  Sierra Leone              41.0   4739147.0
2309  Sierra Leone              41.5   5199549.0
2308  Sierra Leone              42.3   5439695.0
1585        Malawi              43.1  11376172.0
2307  Sierra Leone              43.3   5658379.0
1584        Malawi              43.5  11695863.0
2921        Zambia              43.8   1531221.0
1583        Malawi              44.0   1213711.0

DATA PREPROCESSING

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Country_Label'] = le.fit_transform(data['Country'])
data['Status_Label'] = le.fit_transform(data['Status'])
data.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Country_Label,Status_Label
0,Afghanistan,2015,1,65.0,263.0,62,0.01,71.279624,65.0,1154,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,0,1
1,Afghanistan,2014,1,59.9,271.0,64,0.01,73.523582,62.0,492,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,0,1
2,Afghanistan,2013,1,59.9,268.0,66,0.01,73.219243,64.0,430,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,0,1
3,Afghanistan,2012,1,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,0,1
4,Afghanistan,2011,1,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,0,1

In [23]:
data_new = data

In [24]:
data_new.drop(['Country', 'Status'], axis=1, inplace=True)

In [25]:
data_new.head(5)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Country_Label,Status_Label
0,2015,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,0,1
1,2014,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,0,1
2,2013,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,0,1
3,2012,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,0,1
4,2011,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,0,1

In [26]:
data_new.isna().sum()

Year                                 0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
BMI                                 34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
HIV/AIDS                             0
GDP                                448
Population                         652
thinness  1-19 years                34
thinness 5-9 years                  34
Income composition of resources    167
Schooling                          163
Country_Label                        0
Status_Label                         0
dtype: int64

In [27]:
data_new.shape

(2938, 22)

In [28]:
data_new = data_new.dropna(subset=['Life expectancy '])
data_new.shape

(2928, 22)

In [33]:
data_new = data_new.dropna(subset=['Adult Mortality'])
data_new.shape

(2928, 22)

In [35]:
data_new = data_new.dropna(subset=['Polio'])
data_new.shape

(2909, 22)

In [36]:
data_new = data_new.dropna(subset=['Diphtheria '])
data_new.shape

(2909, 22)

In [32]:
list(data_new.columns)

['Year',
 'Life expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 'BMI ',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 'HIV/AIDS',
 'GDP',
 'Population',
 'thinness  1-19 years',
 'thinness 5-9 years',
 'Income composition of resources',
 'Schooling',
 'Country_Label',
 'Status_Label']

In [39]:
mean_bmi = data_new['BMI '].mean()

data_new['BMI '].fillna(mean_bmi, inplace=True)

In [41]:
thin_19 = data_new['thinness  1-19 years'].mean()
data_new['thinness  1-19 years'].fillna(thin_19, inplace=True)
thin_9 = data_new['thinness 5-9 years'].mean()
data_new['thinness 5-9 years'].fillna(thin_9, inplace=True)

In [43]:
country_alcohol_means = data_new.groupby('Country_Label')['Alcohol'].mean()

def impute_alcohol(row):
    country_label = row['Country_Label']
    if pd.isna(row['Alcohol']):
        return country_alcohol_means.get(country_label, 0)
    else:
        return row['Alcohol']

data_new['Alcohol'] = data_new.apply(impute_alcohol, axis=1)

print(data_new['Alcohol'].isna().sum())

5

In [45]:
data_new = data_new.dropna(subset=['Alcohol'])

In [47]:
country_hepatitisB_medians = data_new.groupby('Country_Label')['Hepatitis B'].median()

def impute_hepatitisB(row):
    country_label = row['Country_Label']
    if pd.isna(row['Hepatitis B']):
        return country_hepatitisB_medians.get(country_label, 0)
    else:
        return row['Hepatitis B']

data_new['Hepatitis B'] = data_new.apply(impute_hepatitisB, axis=1)

print(data_new['Hepatitis B'].isna().sum())

144

In [48]:
mean_hepatitisB = data_new['Hepatitis B'].mean()
data_new['Hepatitis B'].fillna(mean_hepatitisB, inplace=True)
print(data_new['Hepatitis B'].isna().sum())

0

In [49]:
country_expenditure_medians = data_new.groupby('Country_Label')['Total expenditure'].median()

def impute_expenditure(row):
    country_label = row['Country_Label']
    if pd.isna(row['Total expenditure']):
        return country_expenditure_medians.get(country_label, 0)
    else:
        return row['Total expenditure']

data_new['Total expenditure'] = data_new.apply(impute_expenditure, axis=1)

print(data_new['Total expenditure'].isna().sum())

32

In [50]:
mean_expenditure = data_new['Total expenditure'].mean()
data_new['Total expenditure'].fillna(mean_expenditure, inplace=True)
print(data_new['Total expenditure'].isna().sum())

0

In [56]:
country_gdp_modes = data_new.groupby('Country_Label')['GDP'].agg(lambda x: x.mode()[0] if not x.mode().empty else np.nan)

def impute_gdp(row):
    country_label = row['Country_Label']
    if pd.isna(row['GDP']):
        return country_gdp_modes.get(country_label)
    else:
        return row['GDP']

data_new['GDP'] = data_new.apply(impute_gdp, axis=1)

print(data_new['GDP'].isna().sum())

400

In [57]:
data_new = data_new.dropna(subset=['GDP'])

In [60]:
country_population_means = data_new.groupby('Country_Label')['Population'].mean()

def impute_population(row):
    country_label = row['Country_Label']
    if pd.isna(row['Population']):
        return country_population_means.get(country_label, 0)
    else:
        return row['Population']

data_new['Population'] = data_new.apply(impute_population, axis=1)

print(data_new['Population'].isna().sum())

240

In [61]:
data_new = data_new.dropna(subset=['Population'])

In [62]:
data_new.isna().sum()

Year                               0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
BMI                                0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
HIV/AIDS                           0
GDP                                0
Population                         0
thinness  1-19 years               0
thinness 5-9 years                 0
Income composition of resources    0
Schooling                          0
Country_Label                      0
Status_Label                       0
dtype: int64

In [63]:
data_new.shape

(2264, 22)

SIMPLE LINEAR REGRESSION

In [67]:
lr = LinearRegression()

In [68]:
X = data_new[["Adult Mortality"]]
y = data_new["Life expectancy "]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr.fit(X_train.values,y_train)
y_pred = lr.predict(X_test)

r_square = r2_score( y_test, y_pred)

print("\nSimple Linear Regression")
print(f"  R² Score: ", r_square)
print(f"  Intercept Value: {lr.intercept_}")

Simple Linear Regression
  R² Score:  0.40437959296911963
  Intercept Value: 77.61621738790635

In [69]:
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(predictions.head())

      Actual  Predicted
2218    67.3  67.714483
1603    78.2  74.402042
462     73.0  69.736303
532     51.6  58.694055
56      48.2  58.175640

In [74]:
X = data_new[["BMI "]]
y = data_new["Life expectancy "]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr.fit(X_train.values,y_train)
y_pred = lr.predict(X_test)

r_square = r2_score( y_test, y_pred)

print("\nSimple Linear Regression")
print(f"  R² Score: ", r_square)
print(f"  Intercept Value: {lr.intercept_}")

Simple Linear Regression
  R² Score:  0.3584370881734117
  Intercept Value: 58.21092105846805

In [75]:
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(predictions.head())

      Actual  Predicted
2218    67.3  59.094956
1603    78.2  65.682441
462     73.0  64.513234
532     51.6  63.201440
56      48.2  63.572165

In [76]:
X = data_new[["Population"]]
y = data_new["Life expectancy "]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr.fit(X_train.values,y_train)
y_pred = lr.predict(X_test)

r_square = r2_score( y_test, y_pred)

print("\nSimple Linear Regression")
print(f"  R² Score: ", r_square)
print(f"  Intercept Value: {lr.intercept_}")

Simple Linear Regression
  R² Score:  -0.0029211742703880716
  Intercept Value: 68.9413703886441

In [77]:
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(predictions.head())

      Actual  Predicted
2218    67.3  68.940562
1603    78.2  68.941370
462     73.0  68.939494
532     51.6  68.889417
56      48.2  68.928697

In [78]:
X = data_new[["Status_Label"]]
y = data_new["Life expectancy "]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr.fit(X_train.values,y_train)
y_pred = lr.predict(X_test)

r_square = r2_score( y_test, y_pred)

print("\nSimple Linear Regression")
print(f"  R² Score: ", r_square)
print(f"  Intercept Value: {lr.intercept_}")

Simple Linear Regression
  R² Score:  0.3048299627890084
  Intercept Value: 79.04329268292683

In [79]:
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(predictions.head())

      Actual  Predicted
2218    67.3  66.637694
1603    78.2  66.637694
462     73.0  66.637694
532     51.6  66.637694
56      48.2  66.637694

MULTIPLE REGRESSION

In [80]:
X = data_new.drop(columns=['Life expectancy '])
y = data_new['Life expectancy ']

In [81]:
print("Shape of X:", X.shape)
print("Shape of y:", y.shape)

Shape of X: (2264, 21)
Shape of y: (2264,)

In [82]:
X = X.values
y = y.values

In [83]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [84]:
print("Shape of X:", X_train.shape)
print("Shape of y:", y_train.shape)

Shape of X: (1811, 21)
Shape of y: (1811,)

In [85]:
model_multiple = LinearRegression()

model_multiple.fit(X_train, y_train)

y_pred_multiple = model_multiple.predict(X_test)

mse_multiple = mean_squared_error(y_test, y_pred_multiple)
r2_multiple = r2_score(y_test, y_pred_multiple)

print("\nMultiple Linear Regression")
print(f"  Mean Squared Error: {mse_multiple:.4f}")
print(f"  R² Score: {r2_multiple:.4f}")

Multiple Linear Regression
  Mean Squared Error: 16.1421
  R² Score: 0.8473

In [86]:
print(model_multiple.intercept_)

194.01288450277087

In [87]:
predictions = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred_multiple})
print(predictions.head())

   Actual  Predicted
0    67.3  67.178559
1    78.2  73.171961
2    73.0  65.897299
3    51.6  53.103651
4    48.2  56.723525